<strong>Olá, {{student}}</strong>
<p>Obrigado pelo contato, abaixo resposta para sua dúvida</p>
<p>
  <strong>Reposta: </strong> {{answer}} <br />
  <strong>Data da reposta: </strong> {{answer_at}} <br />
</p>
